/* From https://gist.github.com/ghosh/4f94cf497d7090359a5c9f81caf60699 via https://micromodal.vercel.app/*/

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, var(--transparency-more));
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    backdrop-filter: blur(var(--blur-amount));
    -webkit-backdrop-filter: blur(var(--blur-amount));
    background-color: var(--dark-color);
    padding: 30pt;
    max-width: 500pt;
    max-width: min(100vw, 500pt);
    min-width: min(500px, 100vw);
    max-height: 100vh;
    border-radius: var(--border-radius);
    overflow-y: auto;
    box-sizing: border-box;
    border: var(--border-light);
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 1.25;
    color: var(--font-light);
    box-sizing: border-box;
}

.modal__close {
    font-size: 1.3em;
    background: hsla(240, 16%, 34%, 0.8);
    border-radius: 50%;
    border: var(--border-light);
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    align-items: center;
}

.modal__header .modal__close:before {
    content: "\2715";
    color: white;
}

.modal__content {
    margin-bottom: 2rem;
    line-height: 1.5;
    color: var(--font-light);
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.modal__btn-primary {}

div label {
    margin-right: .6em;
    padding-left: 0;
    text-align: right;
}