body {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background: #131313;
  color: #eeebff;
}

h1,
p {
  margin: 0;
}

a,
.fake-link {
  cursor: pointer;
  text-decoration: underline;
  color: #8a8a8a;
}

.container {
  margin-top: 10px;
  background-color: #202020;
  padding: 10px;
}

.thumbnails {
  text-align: center;
}

@media only screen and (min-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "intro-text refresh";
    height: 6vh;
  }
  .intro-text {
    grid-area: intro-text;
  }
  .refresh {
    grid-area: refresh;
    align-self: center;
  }
}

.intro-text {
  font-style: italic;
}

.thumbnail-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

@media only screen and (max-width: 750px) {
  .thumbnail-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  #new-streamer-button {
    margin-top: 20px;
  }
}

#new-streamer-button {
  background-color: #008a07;
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

#new-streamer-button:disabled,
#new-streamer-button[disabled] {
  background-color: #efefef;
}

#twitch-embed,
#twitch-embed>iframe {
  min-height: 85vh;
}

.thumbnail-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
  width: 90%;
  justify-self: center;
}

#footer {
  text-align: center;
  margin-top: 13px;
}
