body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: Canvas; */
    background: #131313;
    color: #eeebff;
    font-size: 14pt;
}

h1,
p {
    margin: 0;
}

p {
    margin-top: .2em;
    font-size: 1em;
}

a,
.fake-link {
    cursor: pointer;
    text-decoration: underline;
    color: #8a8a8a;
}

.container {
    margin-top: 0.2em;
    background-color: #202020;
    padding: 0.2em;
    border-radius: 12pt;
    margin: .2em;
}

.thumbnails,
.filter {
    text-align: center;
}

.filter {
    padding-top: 0.2em;
}

#motd {
    background-color: #075f0b;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.4em;
    padding: 0.4em;
    border-radius: 6pt;
    border: 2pt solid white;
}

a {
    color: hsl(323, 34%, 63%);
}

a:hover {
    color: hsl(323, 14%, 53%);
}

.left-pane {
    grid-area: left-pane;
}

.right-pane {
    grid-area: right-pane;
    align-self: center;
    text-align: center;
}

.left-pane,
.cookie-check {
    font-style: italic;
}

.thumbnail-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.fake-link {
    background-color: hsl(170, 80%, 27%);
    border: 2pt solid white;
    color: white;
    padding: 0.3em 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    cursor: pointer;
    border-radius: 6pt;
}

.filter {
    text-align: center;
}

#new-streamer-button {
    background-color: hsl(123, 100%, 27%);
    border: 2pt solid white;
    color: white;
    margin: 0.2em;
    padding: 0.5em 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    cursor: pointer;
    border-radius: 6pt;
    font-size: 1.2em;
}

.fake-link {
    background-color: hsl(170, 80%, 27%);
    border: 2pt solid white;
    color: white;
    margin: 0.2em;
    padding: 0.2em 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    cursor: pointer;
    border-radius: 6pt;
    font-size: 1em;
}

#new-streamer-button:hover {
    background-color: hsl(123, 80%, 17%);
}

.fake-link:hover {
    background-color: hsl(170, 60%, 17%);
}

.new-thumbnails.fake-link {
    margin: 0.4em;
    padding: 0.5em 0.2em;
}

#new-streamer-button:disabled,
#new-streamer-button[disabled] {
    background-color: hsl(123, 100%, 27%);
    color: white;
    cursor: default;
    filter: saturate(30%);
}

.loading-throbber {
    width: 17pt;
    height: 17pt;
    margin-left: 4pt;
}

.loading-throbber {
    width: 17px;
    height: 17px;
    margin-left: 4px;
}

.search-input {
    width: 100%;
    font-weight: bold;
}

.options-columns {
    display: grid;
    grid-gap: 5px;
    align-items: center;
}

.field-description {
    grid-column: 2;
    font-style: italic;
    font-size: 95%;
}

#remember-container {
    grid-column: 2;
}

#remember-container>input {
    margin-left: 0;
}

#twitch-embed,
#twitch-embed>iframe {
    min-height: 85vh;
}

.thumbnail-item {
    border: 2pt solid white;
    font-size: 2em;
    text-align: center;
    margin: 10pt;
    overflow: hidden;
    cursor: pointer;
    width: 90%;
    justify-self: center;
    border-radius: 6pt;
    box-shadow: rgba(0, 0, 0, 0.6) 4pt 4pt;
}

a:hover .thumbnail-item {
    filter: brightness(0.8);
}

#footer {
    text-align: center;
    margin-top: 13pt;
}

.left-pane h1 {
    font-weight: bolder;
    font-variant-caps: all-small-caps;
    display: inline-flex;
    font-size: 4em;
}

.left-pane span {
    display: inline-block;
    padding-bottom: 1em;
    font-size: 2em;
}

.hidden,
span.hidden {
    display: none;
}

#motd:empty {
    display: none;
}

#twitch-embed iframe {
    border-radius: 12pt;
    box-shadow: rgba(0, 0, 0, 0.6) 4pt 4pt;
}

#twitch-embed-wrapper {
    border-radius: 12pt;
    padding: 0.4em;
    background-color: #202020;
    border: 2pt solid white;
}

@media only screen and (max-width: 700pt) {
    .thumbnail-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #new-streamer-button {
        margin-top: 10px;
    }
    h1 {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 800pt) {
    .grid-container {
        min-height: 20px;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: "left-pane right-pane";
    }
    .left-pane h1:after {
        content: "-";
        padding: 0 0.6rem 0 0.6rem;
    }
}